<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShowLogLaucher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShowLogLaucher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShowLogLaucher.Properties.Settings>
            <setting name="LastLogFilePath" serializeAs="String">
                <value />
            </setting>
        </ShowLogLaucher.Properties.Settings>
        <ShowLogLaucher.Settings>
            <setting name="LastLogFilePath" serializeAs="String">
                <value />
            </setting>
        </ShowLogLaucher.Settings>
    </userSettings>
</configuration>